name: Bender Job
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  fail:
    name: Fail
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Fail
        run: exit 1

  bender-action:
    name: Bender job mode
    needs: [fail]
    # if: ${{ always() && contains(needs.*.result, 'failure') }}
    if: always()
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
      - name: Echo Needs
        run: echo "${{needs.*.result }}"

      - name: Get dir context
        id: getdir
        run: |
          dirs="$(find . -path ./.git -prune -o -print | base64 | tr '\n' ' ')"
          echo "dir_context=${dirs}" >> "$GITHUB_ENV"

      - name: Echo dir context
        run: echo ${{env.dir_context}}

      - name: Run Bender
        uses: ahelal/bender-action@feature/tests
        id: bender
        with:
          mode: 'job'
          gh-token: ${{ secrets.GHTOKEN }}
          az-openai-endpoint: ${{vars.OA_ENDPOINT}}
          az-openai-deployment: ${{secrets.OA_DEPLOYMENT}}
          az-openai-key: ${{secrets.OA_KEY}}
          dir-context: ${{ env.dir_context }}

      - name: Print Output
        id: output
        run: echo "${{ steps.bender.outputs.usage }}"
