name: bender PR

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  bender-action:
    name: Bender pr mode
    runs-on: ubuntu-latest
    env:
      ANNOTATION_1: ${env.ANNOTATION_1}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Get dir context
        id: getdir
        run: |
          dirs="$(find . -path ./.git -prune -o -print | base64 | tr '\n' ' ')"
          echo "dir_context=${dirs}" >> "$GITHUB_ENV"

      - name: echo dir context
        run: echo ${{env.dir_context}}

#      - name: echo annotation1
#        run: |
#          echo "::notice file=.github/workflows/linter.yml,line=30,endLine=33,title='annotation'::HELLO tests"
#      - name: echo annotation2
#        run: |
#          echo "::warning file=linter.yml,line=37,endLine=47,title='bender'::bender stufff stuff"

#      - name: echo annotation3
#        run: |
#          echo ".github/workflows/linter.yml"
#          echo "##[warning]   50:55  warning  Some hello test"

      - name: Run Bender
        uses: ./
        id: bender
        with:
          mode: 'pr'
          gh-token: ${{ secrets.GHTOKEN }}
          az-openai-endpoint: ${{vars.OA_ENDPOINT}}
          az-openai-deployment: ${{secrets.OA_DEPLOYMENT}}
          az-openai-key: ${{secrets.OA_KEY}}
          dir-context: ${{ env.dir_context }}
          files-selection: 'src.*.ts$'

      - name: Print Output
        id: output
        run: echo "${{ steps.bender.outputs.usage }}"
